@import "tailwindcss";

@theme {
    --spacing: 1rem;

    --font-subrayada: "Montserrat Subrayada", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-highlight: var(--highlight);
    --color-card: var(--card);
    --color-story-card: var(--story-card);

    --color-green: var(--color-green);
    --color-red: var(--color-red);
}

:root {
    --highlight: #FF9900;

    --primary: #0f0f0f;
    --secondary: #f0f0f0;
    --tertiary: rgb(210, 210, 210);

    --card: rgb(188, 188, 188);
    --story-card: #0f0f0f;
    --color-green: #68c935;
    --color-red: #e61f1f;
}

.dark {
    --highlight: #FFAE11;

    --primary: #f0f0f0;
    --secondary: #0f0f0f;
    --tertiary: rgb(35, 35, 35);

    --card: rgb(91, 91, 91);
    --story-card: #f0f0f0;
}

.mainCommon {
    @apply w-full pt-[90px] pb-2 box-border min-h-screen max-w-86 px-1;
}

.mainCommon__hero__penas {
    animation: float 3s ease-in-out infinite;
    @apply absolute transition-all duration-200 bottom-[-180px];
    &.left {
        animation: bottomFloatLeft 3s ease-in-out infinite;
    }
    &.right {
        animation: bottomFloatRight 3s ease-in-out infinite;
    }
    &.down {
        @apply bottom-[-360px] opacity-50;
        &.left {
            @apply left-[-280px] rotate-70;
        }
        &.right {
            @apply right-[-280px] rotate-[-70deg];
        }
    }
}

.button-session {
    @apply border-none transition text-lg px-2 py-[0.7rem] rounded-sm bg-highlight hover:bg-primary text-secondary cursor-pointer font-medium;
    &.last {
        @apply mt-3;
    }
}

.mainCommon__hero__chevron {
    animation: bounce 1s ease-in-out;
}

.mainCommon__resources__title {
    @apply text-4xl font-subrayada mb-2 text-primary transition-colors duration-200;
}

.mainCommon__resources__box-points__point-wrapper .point-clock {
    animation: cuckoo 2s infinite ease-in-out;
}

.Overlay {
    @apply fixed top-0 left-0 right-0 bottom-0 h-screen w-screen bg-black/50 z-50 backdrop-blur-md flex items-center justify-center p-1;
}

/* Animações */

@keyframes cuckoo {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bottomFloatRight {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
        transform: translateX(10px) translateY(-10px) rotate(2deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
}

@keyframes bottomFloatLeft {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
        transform: translateX(-10px) translateY(-10px) rotate(-2deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}